<% if @search_by == "Search by lyrics" %>
  <% results = ApiParser.new.search_by_lyrics %>
  <% results.query(@search) %>

  <% if results.header["status_code"] == 200 %>
  <p>Search time: <%= results.header["execute_time"] %> seconds</p>
    <% results.track_list.each do |track| %>
      <a href='/search_lyrics/<%= track["track"]["track_name"].gsub(/[^a-zA-Z0-9\s-]/, '') %>, <%= track["track"]["artist_name"].gsub(/[^a-zA-Z0-9\s-]/, '') %>'> <h3><%= track["track"]["track_name"] %>, <%= track["track"]["artist_name"] %></h3> </a>
    <% end %>
  <% else %>
    <h1>Error: <%= results.header["status_code"] %></h1>
    <p><%= @errors["#{result.header['status_code']}"] %></p>
    <p>Please return <a href="/">here</a> </p>
  <% end %>

<% elsif @search_by == "Search by track name" %>
  <% result = ApiParser.new.search_by_track %>
  <% result.query(@search) %>

  <% if result.header["status_code"] == 200 %>
  <p>Search time: <%= result.header["execute_time"] %> seconds</p>
    <h1><%= @search %></h1>
    <h2>Lyrics</h2>
    <article>
      <% result.search_lyrics_hash("lyrics_body").split("\n").each do |line| %>
        <p style="margin:0"><%= line %></p>
      <% end %>
    </article>
  <% else %>
    <h1>Error: <%= result.header["status_code"] %></h1>
    <p><%= @errors["#{result.header['status_code']}"] %></p>
    <p>Please return <a href="/">here</a> </p>
  <% end %>

<% end %>
